<!doctype HTML>
<head>
	<script src="https://kit.fontawesome.com/641cf44a2e.js" crossorigin="anonymous"></script>
</head>
<body>

	<div class="header">
	</div>
	<div class="content">
				<div class="typewritter">
				<h1 class="a" id="type">Hello Fer!</h1>
				</div>
	</div>
	<div class="content">
		<div id="heart">
	<i class="fas fa-heart"></i>
		</div>
		</div>  
</body>
